.spot-detail-page {
  margin: 0 1vw;
}

.spot-images {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 412px;
}

.big-preview-image {
  width: 50%;
  height: 412px;
}

.other-spot-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%
}

.other-spot-images {
  width: 48%;
  height: 205px;
  overflow: hidden;
  margin-left: 0.2vw;
  margin-bottom: 0.2vw;
}
.other-spot-images img {
  width: 100%;
  height: 100%;
}

.owner-description-price-reserve {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
  border-bottom: solid black;
  padding: 2vh 0;
}

.owner-description {
  display: inline-block;
  width: 70%;
}

.price-rating-review-reserve {
  display: inline-flex;
  flex-direction: column;
  border: solid black;
  border-radius: 5%;
  padding: 1vw;
  height: 50%;
  width: 25%;
}

.price-rating-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vh
}

.checkin-checkout-date-container {
  display: flex;
  width: 98%;
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 18px;
}

.checkin-checkout-date-container input,
.checkin-checkout-date-container label {
  border: none;
  background: none;
  cursor: pointer;
}
.checkin-checkout-date-container label {
  font-size: 13px;
  font-weight: 800;
  line-height: 12px;
  padding: 20px 20px 0px;
}
.checkin-checkout-date-container input {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 20px 20px;
}
.checkin-checkout-date-container input:focus {
outline: none;
}
.checkin-container,
.checkout-container {
  display: flex;
  flex-direction: column;
  width:50%;
  cursor: pointer;
}
.checkin-container:focus,
.checkout-container:focus {
outline: 1px solid black;
}

.checkin-container {
  border-right: 1px solid lightgray;
}

.date-selection-container {
  position: absolute;
  right:10px;
  display: flex;
  flex-direction: column;
}

.date-selection-close-button {
  background-color: rgb(84, 83, 83);
  color: white;
  height: 40px;
  width: 15%;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 0px;
  margin-bottom: -20px;
  border: none;
}

.estimated-cost-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.reserve {
  width: 100%;
  height: 50%;
  font-size: 18px;
  cursor: pointer;
}

#price {
  font-size: larger;
  font-weight: bold;
}

.owner {
  margin: 1vh 0;
  font-size: larger;
}

.name {
  font-size: x-large;
  margin: 1vh 0;
}

.city-state-country {
  font-size: large;
  margin: 1vh 0;
}

.single-review-container {
  margin: 2vh 0;
}

#delete-review {
  width: 6%;
  height: 6%;
  margin: 1vh 0;
}

#post-review {
  width: 10%;
  height: 5%;
}

.created-at {
  color: rgb(99, 99, 99);
}

#firstName {
  font-size: large;
}

#review-content {
  margin: 0.2rem 0;
}

#rating-review-bigger {
  font-size: larger;
  margin: 1rem 0;
}
