.modal-container {
  display: flex;
  flex-direction: column;
  width: 28vw;
}

.modal-container > h2 {
  margin: 0 auto
}

.modal-container >div {
  margin: 2vh
}

.activated {
  background-color: #FF385C;
  color: white;
  height: 3rem;
  margin: 0.5vh;
  border: none;
  border-radius: 10px;
}

.deactivated {
  background-color: grey;
  color: white;
  height: 5vh;
  margin: 0.5vh;
  box-shadow: 2px 2px black;
}
