.title-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2vh;
}

button {
  height: auto;
}

.price-update-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
}

.update-delete {
  display: flex;
  flex-direction: row;
}

.spot-name {
  width: 270px;
  ;
}

#create-spot,
#update-spot,
#delete-spot {
  height: 80%;
}

