.title-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2vh;
}

button {
  height: auto;
}

.price-update-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: -6px 0px;
}

.update-delete {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spot-name, .city-state-rating {
  width: 100%;
  margin-bottom: 3px;
}

#create-spot,
#update-spot,
#delete-spot {
  height: 80%;
}
