.signup-form {
  display: inline-flex;
  flex-direction: column;
  width: 400px;
}

.signup-form > div {
  margin: 1vh 0;
}
.signup-form > label >input {
  margin: 4px ;
  border: 2px solid black;
  background-color: rgb(210, 226, 248);
}

.signup-form > label {
  display: inline-flex;
  flex-direction: column;
  width: 400px;
}

.signup-form > button:disabled {
  background-color: grey;
}
.signup-form > button {
  margin: 6px ;
  height: 50px;
  box-shadow: 3px 3px 2px grey ;
  border: 2px solid grey;
}
