.edit-trip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-reservation-container {
  display: flex;
  flex-direction: column;
}

.change-reservation-spot-name {
  font-size: 40px;
  margin-bottom: 20px;
  padding: 0px 5px;
}

.change-reservation-spot-address-container,
.change-reservation-spot-price-container,
.change-reservation-spot-current-reservation-container,
.change-reservation-spot-current-cost-container,
.estimated-cost-container {
  font-size: 18px;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
}

.change-reservation-spot-current-reservation-container,
.change-reservation-spot-current-cost-container {
  display: flex;
  justify-content: space-between;
}
