.trip-sub-header {
  margin-left: 15px;
  margin-top: 50px;
}

.trip-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin: 10px;
  padding: 30px 50px;
}

.trip-left-container {
  display: flex;
  flex-direction: column;
}

.trip-spot-name {
  font-size: 1.5em;
  padding: 20px;
}

.trip-date,
.trip-address {
  font-size: 18px;
  color: gray;
  padding: 5px 20px;
}

.trip-address {
  margin-bottom: 30px;
}

.change-reservation,
.cancel-reservation,
#trip-post-review {
  width: 95%;
  cursor: pointer;
}

.trip-right-container img {
  width: 40vw;
}

.cancel-reservation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cancel-reservation-header div {
  font-size: 25px;
  font-weight: bold;
}
.cancel-reservation-header button {
  background: none;
  border:none;
  font-size: 25px;
}

.cancel-reservation-message {
  font-size: 18px;
  margin-bottom: 15px;
}

.confirm-button-container {
  display: flex;
  justify-content: center;
}
.confirm-button {
  width: 100px;
}
