@media screen and (min-width:1500px) {
  .spot-card {
    width: 23vw;
  }
}

@media screen and (min-width:1000px) and (max-width: 1500px) {
  .spot-card {
    width: 30vw;
  }
}

@media screen and (min-width:700px) and (max-width: 1000px) {
  .spot-card {
    width: 49vw;
  }
}

@media screen and (max-width:700px) {
  .spot-card {
    width: 99vw;
  }
}

.all-spots {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: auto;
}

.spot-card {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

.clickable-card {
  text-decoration: none;
  color: black;
}
.clickable-card>div {
  margin:3px 0px;
}

.spot-preview {
  width: 350px;
  height: 300px;
  border-radius: 5%;
  margin-bottom: 5px;
}

#spot-name {
  width: 350px;
}

.city-state-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

.star-rating {
  display: flex;
}

.rating>div {
  margin: 2px;
}
