@media screen and (min-width:1500px) {
  .spot-card {
    width: 24vw;
  }
}

@media screen and (min-width:1000px) and (max-width: 1500px) {
  .spot-card {
    width: 32vw;
  }
}

@media screen and (min-width:700px) and (max-width: 1000px) {
  .spot-card {
    width: 49vw;
  }
}

@media screen and (max-width:700px) {
  .spot-card {
    width: 99vw;
  }
}

.all-spots {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100vw; */
  padding: auto;
  justify-content: space-between;
}

.spot-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.clickable-card {
  text-decoration: none;
  color: black;
}

.spot-preview {
  width: 360px;
  height: 300px;
  border-radius: 5%;
  margin-bottom: 5px;
}

#spot-name {
  width: 360px;
}

.city-state-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
}

.star-rating {
  display: flex;
}

.rating>div {
  margin: 2px;
}
