@media screen and (min-width:1500px ){
  .spot-card {
    width: 23vw;
  }
}
@media screen and (min-width:1000px) and (max-width: 1500px){
  .spot-card {
    width: 31vw;
  }
}
@media screen and (min-width:700px) and (max-width: 1000px){
  .spot-card {
    width: 48vw;
  }
}
@media screen and (max-width:700px ){
  .spot-card {
    width: 100vw;
  }
}



.all-spots {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding: auto;
}

.spot-card {
  display: flex;
  flex-direction: column;
  /* width: 270px; */
  margin: 0.5vw
}

.clickable-card {
  text-decoration: none;
  color: black;
}

.spot-preview {
  width: 270px;
  height: 250px;
  border-radius: 5%;
}

#spot-name {
  width: 270px;
}

.city-state-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
}

.star-rating {
  display: flex;
}

.rating>div {
  margin: 2px;
}


