.outer-container {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  width: 40%;
}

.title {
  font-size: larger;
}

.session-container {
  padding: 1rem 0;
  border-bottom: solid black;
  display: flex;
  flex-direction: column;
}

.label-input {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

input {
  background-color: rgb(220, 230, 247);
}

textarea {
  background-color: rgb(220, 230, 247);
}

.session-container > div {
  margin-bottom: 1vh;
}

.price-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.session-container > div > span {
  margin-right: 1vw;
}

input.price {
  width: 100%;
}

#previewImage, #otherImage1, #otherImage2, #otherImage3, #otherImage4 {
  margin: 0.5vh 0;
}

.create-spot-button {
  display: flex;
  justify-content: center;
  margin: 1vh 0;
}
.create-spot-button > button {
width: 30%;
}
