.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1vw;
  ;
  border-bottom: solid rgb(228, 228, 228);
}

.logo a {
  text-decoration: none;
}

.logo a>span {
  padding: 0 10px;
  font-size: x-large;
  color: #FF385C;
  ;
}

.logo>a>i {
  color: #FF385C;
  font-size: 28px;
}

.right-container>a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  margin-right: 5px;
}

.right-container>a:hover {
  background-color: rgb(243, 243, 243);
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
