.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 1vw;;
  border-bottom: solid rgb(228, 228, 228);
}

.logo > span {
  padding: 0 10px;
  font-size: x-large;
  color:rgb(242, 87, 31);
}

.logo > a > i {
  color:rgb(242, 87, 31);
  font-size: 20px;
}

.creat-profile-container > a {
  text-decoration: none;
  display: inline;
  width: 18vw;
}

.creat-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
