.hidden {
  display: none;
  /* display: flex;
  flex-direction: column; */
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  right:2%;
  width: fit-content;
  border: solid black;
  background-color: white;
}

.dropdown>div,
.dropdown>li {
  margin: 0.5vh 0.5vw;
}

.profile-button {
  font-size: 30px;
  border: 0cm;
  background-color: white;
  color: rgb(131, 131, 131);
  border: 1px solid lightgray;
  width: 100px;
  height: 50px;
  border-radius: 30px;
}

.profile-button .fa-bars {
  margin-right: 15px;
}
